################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWSLambdagit/obj/Debug/netcoreapp3.1
/AWSLambdagit/.vs/AWSLambdagit/v16
/AWSLambdagit/obj
